#crossword {
	width: 500px;
	height: 1500px;
	/*background-color: black;*/
}
h4 {
	text-align: center;
}
#q4 {
	border: none;
	color: #000;
	position: absolute;
	top: 350px;
	left: 20px;
	display: inline-block;
	text-align: left;
}
#q1{
	position: absolute;
	top: 321px;
	left: 106px;
}
#q1 input[type="text"],
#q9 input[type="text"] {
	display: block;
	margin-bottom: 1%;
}
#q9 {
	position: absolute;
	top: 321px;
	left: 301px;
	height: 1000px;
}
#q6 {
	position: absolute;
	top: 434px;
	left: 239px;
	height: 200px;
}
h6 {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
#q5 {
	position: absolute;
	top: 547px;
	left: 289px;
}
#q3 {
	position: absolute;
	top: 631px;
	left: 264px;
}
#q7 {
	position: absolute;
	top: 745px;
	left: 118px;
}
#q2 {
	position: absolute;
	top: 801px;
	left: 167px;
}
#q8 {
	position: absolute;
	top: 801px;
	left: 179px;
}
#q8 input[type="text"],
#q10 input[type="text"] {
	display: block;
}
input[type="text"] {
	border: 1px solid #000;
	/*background-color: transparent;*/
	width: 20px;
}
#q10{
	position: absolute;
	top: 350px;
	left: 374px;
}
#questions h6 {
	display: block;
	text-align: left;
}
#puzzle {
	text-align: center;
	max-width: 700px;
}