/*GENERAL*/
body {
	font-family: 'Cutive Mono', monospace;
	background-image: url("https://github.com/marleyva233/chucky/blob/master/img/chucky.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#puzzle {
	/*position: relative;*/
	padding-top: 5%;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
}
#questions {
	max-width: 700px;
}
#crossword {
	position: relative;
	padding: 0;
	max-width: 700px;
	min-width: 400px;
	height: 700px;
}
#questions h6 {
	display: block;
	text-align: left;
}
h4 {
	text-align: center;
}
h6 {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
#crossword h6 {
	text-align: center;
	vertical-align: middle;
}
/*BOXES STYLING*/
#q1 {
	position: absolute;
	top: 20px;
	left: 98px;
	z-index: 11;
}
#q2 {
	position: absolute;
	top: 365px;
	left: 158px;
	z-index: 2;
}
#q3 {
	position: absolute;
	top: 265px;
	left: 217px;
	z-index: 29;
}
#q4 {
	position: absolute;
	top: 64px;
	left: 20px;
	z-index: 4;
}
#q5 {
	position: absolute;
	top: 206px;
	left: 236px;
	z-index: 55;
}
#q6 {
	position: absolute;
	top: 125px;
	left: 197px;
	height: 200px;
	z-index: 6;
}
#q7 {
	position: absolute;
	top: 325px;
	left: 99px;
	z-index: 7;
}
#q8 {
	position: absolute;
	top: 368px;
	left: 178px;
	z-index: 8;
}
#q9 {
	position: absolute;
	top: 22px;
	left: 256px;
	z-index: 1;
}
#q10{
	position: absolute;
	top: 62px;
	left: 314px;
	z-index: 10;
}
#q1:hover,
#q2:hover,
#q3:hover,
#q4:hover,
#q5:hover,
#q6:hover,
#q7:hover,
#q8:hover,
#q9:hover,
#q10:hover {
	z-index: 998;
}
/*INPUT STYLING*/
input[type="text"] {
	border: 1px solid #000;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: -10px;
}
#q8 input[type="text"],
#q10 input[type="text"],
#q1 input[type="text"],
#q9 input[type="text"] {
	display: block;
}
input[type="text"]:hover {
	z-index: 999;
	background-color: pink;
}